@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

:root {
    --commontfont: Montesserat, sans-serif;
    --mainfont: Lexend, sans-serif;
    --footerfont: Raleway, sans-serif;
}


/* NAVBAR CODE */
::-webkit-scrollbar {
    display: none;
}

.navbar {
    list-style: none;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: -8px -8px 0px -8px;
    display: flex;
    background-color: #55d6aa;
}

.navlink {
    display: inline-block;
    margin: 10px 20px;
    font-family: var(--commontfont);
    padding: 4px 8px;
    border-radius: 3px;
    transition: all 1s ease-in-out

}

.navlink a {
    text-decoration: none;
    color: #444;
    transition: all 1s ease-in-out
}
a:visited, a:link {
    color: #444;
}
.navlink:hover, .navlink a:hover {
    color: purple;
    background-color: #91b8ab;
}


/* FOOTER CODE */
.footer {
    bottom: 0;
    color: white;
    left: 0;
    width: 100%;
    background-color: darksalmon;
    position: fixed;
    justify-content: center;
    display: flex;
    place-items: center;
    font-family: var(--footerfont)
}

.contact {
    display: flex;
    justify-content: center;
    width: 300px;
}

.author {
    position: fixed;
    right: 0;
    color: black;
    margin-right: 10px;
}

.title {
    text-align: center;
    vertical-align: center;
    color: beige;
    margin: 18%;   
    font-family: var(--mainfont);
    transition: all 1s ease-in-out; 
    
}
.name {
    transition: all 1s ease-in-out;
}
.name:hover {
    color: bisque;
}


